// @import "bourbon";
.landing-content {
  background-repeat: no-repeat;
  background-position: top left;
  background-size:cover;
  height: 100%;
  background-image:
   url(https://res.cloudinary.com/runaway-today/image/upload/e_vibrance:20,q_80/v1500486642/StockSnap_ZOLTV3MKC4_qc9l5h.jpg);
}

.wrap{
  height:100vh;
  position: relative;
  width: 0px;
  height: 0px;
  margin: 20% 45%;
  &:last-child {
    margin-bottom: 0;
  }
}

.clicker{
  background-color: transparent;
  outline: none;
  font-weight: 600;
  position:absolute;
  cursor: pointer;
  padding: 0;
  border: none;
  height: 164px;
  width: 164px;
  left: 8px;
  top: 8px;
  border-radius: 100px;
  z-index: 2;
}

.clicker:active{
    transform: translate(0, 1px);
    height: 163px;
    box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle{
    position: relative;

    border-radius:120px;
    width: 180px;
    height: 180px;
    z-index: 1;
}


.clicker.faster:hover + .circle, .clicker.faster:active + .circle {
    animation: rotator linear .2s infinite;
}

.clicker.fast:hover + .circle, .clicker.fast:active + .circle {
    animation: rotator linear .5s infinite;
}

.clicker:hover + .circle, .clicker:active + .circle {
    animation: rotator linear 1.1s infinite;
}

@keyframes rotator{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

.angled {
      background-image: linear-gradient(100deg,
                transparent 0%,
                transparent 30%,
                rgb(247, 206, 96) 110%,
                rgb(252, 219, 70) 550%,
                transparent 20%,
                transparent 0%);
    }
