.landing-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 90px;
  background: #333;
  // border-bottom: 3px solid gray;


  .login-button {
    height:40px;
    width: 100px;
    background: #6BBF59;
    transition: .6s;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 18px;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    li {
      color:black;
    }

    li:hover {
      cursor: pointer;
    }
    li:first-child {
      font-size: 25px;
      color: white;
      padding-right: 5%;
      padding-left: 5%;
      border-right: 2px solid grey;
      cursor: default;

    }
    li:nth-child(2) {
      margin-left:30%;
    }
    li:last-child {
      padding-right: 5%;
    }
  }

  button {
    font-size: 10px;
    font-weight: lighter;
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    background: transparent;
    border: 1px solid white;
    outline: none;
    letter-spacing: 0.15em;
    transition: .6s;
  }
  button:hover {
    background-color: rgba(255,255,255,.5);
  }

  button:active{
    outline:none;
    transform: translate(0, 1px);
 }
}

.login-form-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right:5%;
  input {
    border: transparent;
    border-radius: 5px;
    height:30px;
    font-size: 14px;
    width: 150px;
    margin-right: 12px;
  }

}
