.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  background: #333;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 18px;
    justify-content: space-between;
    text-align: center;
    width: 100%;

    h4 {
      color:white;
      font-size: 18px;
      height: 40px;
      width: 150px;

    }

    li {
      // margin: 0 9px;
      color:white;
      // transition: .9s;
    }

    li:hover {
      cursor: pointer;

    }
    li:first-child {
      font-size: 25px;
      color: white;
      padding-right: 5%;
      margin-left: 5%;
      border-right: 2px solid grey;
      cursor: pointer;

    }

    li:last-child {
      margin-right: 5%;
    }
  }

  button {
    font-size: 10px;
    font-weight: lighter;
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    background: transparent;
    border: 1px solid white;
    letter-spacing: 0.15em;
    outline: none;

  }

  button:active{
    outline:none;
    transform: translate(0, 1px);
 }
}
