.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #333;

  ul {

    h4 {
      color:white;
      font-size: 18px;
      font-family: system-ui;
      font-weight: lighter;
      height: 25px;
      padding: 32px 0;
      width: 100px;
      text-align: center;
      border-bottom: 1px solid white;

        a {
          font-family: system-ui;
          font-weight: lighter;
        }

    }

    h4:hover {
      font-weight: bold;
      border-bottom: 3px solid white;
    }

    h4:active {
    }

    li {
      margin: 5px;
      color:white;
      align-items: center;
      // transition: .9s;
    }

    li:hover {
      cursor: pointer;

    }


  }

  button {
    font-size: 10px;
    font-weight: lighter;
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    background: transparent;
    border: 1px solid white;
    letter-spacing: 0.15em;
    outline: none;

  }

  button:active{
    outline:none;
    transform: translate(0, 1px);
 }
}

.logo {
  font-size: 25px;
  color: white;
  width: 100%;
  margin: 3%;
  padding: 0 3%;
  border-right: 2px solid grey;
  cursor: pointer;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 18px;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
