
.signup-form-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position:absolute;
  top: 25%;
  height:auto;
  padding: 30px;
  background:transparentize(white, .25);
  text-align:center;
  h1 {
    font-size: 20px;

  }
  h2 {
    font-size: 18px;
  }

  button {
    
  }


}

.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;


}
