
.signup-form-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position:absolute;
  top: 25%;
  height:auto;
  padding: 30px;
  background:transparentize(white, .25);
  text-align:center;
  
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }


}
.signup-submit-button {
  background: transparent;
  margin: 15px;
  transition: .25s;
  border: 3px solid #6BBF59;
}
.signup-submit-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);

}

.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;


}
