.bike-icon {

  width: 20px;
  height: 20px;
  margin: 20px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/runaway-today/image/upload/v1501094570/bicycle_nseahq.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.run-icon {
  width: 20px;
  height: 20px;
  margin: 20px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/runaway-today/image/upload/v1501094570/running_1_happap.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
