.workouts-feed-page {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.workouts-feed{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;

}

// workouts index
  .workout-list {
    margin-top: 15px;
  }
  .workouts-index {
    width: 500px;
  }

  .feed-item-header {
    font-size: 17px
  }

  .workout-feed-item {
    margin: 25px 0 ;
    display: flex;
    align-items: center;
  }

  .workout-feed-item:first-of-type {
    margin: 0px
  }

  .workout-info {
    span {
      margin: 0 10px;
      color: grey;
      font-size: 15px;
    }

    span:first-of-type {
      margin-left: 0;
    }
  }

// workout links

.workout-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 250px;
}


.new-workout-btn {

  background: #333;
  color: #ccc;
  width: 200px;
  height: 60px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
  transition: .6s;
  overflow: hidden;
  margin: 15px;

  &:focus{
    outline: 0;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
    background: #338033;
    cursor: pointer;
    &:before{
      transform: translateX(300px)  skewX(-15deg);
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}
