.footer {
  border-top: 3px solid gray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height:35px;
  display: flex;
  align-items: center;
  background: white;

  h4 {
    font-weight: bold;


  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    background: transparent;
    padding: 0;
    li {
      margin: 0 13px;
      color: black;
    }

    // li:first-child {
    //   padding: 0;
    // }

  }

}

.footer-links {
  margin: 0 auto;
}
