.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #333;

  ul {

    h4 {
      color: rgba(200, 200, 200, 1);
      font-size: 18px;
      font-family: system-ui;
      font-weight: lighter;
      height: 26px;
      padding: 30px 0;
      width: 100px;
      text-align: center;

        a {
          font-family: system-ui;
          font-weight: lighter;
        }

    }

    h4:hover {
      font-weight: bold;
      border-bottom: 4px solid white;
      transform: translate(0, 2px);
    }

    .active {
      h4 {
        font-weight: bold;
        border-bottom: 5px solid white;
        transform: translate(0, 2px);
      }
    }

    li {
      margin: 5px;
      color:white;
      align-items: center;
      // transition: .9s;
    }

    li:hover {
      cursor: pointer;
    }

  }

  button {
    font-size: 10px;
    font-weight: lighter;
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    background: transparent;
    border: 1px solid white;
    letter-spacing: 0.15em;
    outline: none;

  }

  button:active{
    outline:none;
    transform: translate(0, 1px);
 }
}

.logo {
  font-size: 25px;
  color: white;
  width: 100%;
  margin: 3%;
  padding: 0 3%;
  border-right: 2px solid grey;
  cursor: default;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 18px;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  margin-right: 1%;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-name {
  cursor:default;
}


.user-prof {
  cursor: default;
}
