html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, input {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none

}

body {
  line-height: 1.5;
  font-family: system-ui;
  font-weight: lighter;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

div, body, main, html {
  height: auto;
}

a, Link, button:hover {
  cursor: pointer;
}
