.new-route-page {
  position: relative;
  overflow-y:hidden;
  // top: 90px;
}

.active {
  background: green;
}

.inactive {
  background: red;
}

.map-bar {
  display: flex;
  // justify-content: space-around;
  max-height: 40px;
  padding-bottom:5px;
}

.small-map {
  height: 175px;
  width: 278.45px;
}

.show-map {
  height: 300px;
  // width: 100vh;
}
