.new-route-page {
  position: relative;
  overflow-y:hidden;
  // top: 90px;
}

.map-bar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin: 20px 0px;
  align-items: center;
  vertical-align: middle;
  white-space: pre-wrap;

  textarea {
    outline:none;
    border: 0;
    border-left: 2px solid slategrey;
  }

  input {
    border: 0px solid slategray;
    outline: none;

  }

  button {
    height: 50px;
    width: 100px;
    color: black;
    font-weight: lighter;
    font-size: 13px;
    border: 1px gray solid;
    border-radius: 5px;
    outline: none;
    margin: 5px 10px;
    padding: 7px;
    transition: .7s;
    text-align: center;
  }

  button.inactive {
    background: red;
  }

  button.active {
    background: #56e282;
  }

  button:hover {
    color: black;
    background-color: #6dbaf2;

  }
}

#pac-input {
  position: absolute;
  z-index: 100000;
  top: 100px;
  left: 120px;
  border: none;
  border-radius: 1px;
  padding: 3px;
}

input#pac-input:focus {
    z-index: 100005;
}

.search-icon {

  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/runaway-today/image/upload/v1501240394/magnifying-glass_1_cp3a2t.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  z-index: 100001;
  top: 90px;
  left: 123px;
}

.small-map {
  height: 175px;
  width: 278.45px;
}


.route-type-btns {
  // widtH: 150px;
}
