.route-feed-item {
  height: 361px;
  width: 278.45px;
  margin: 0 1.6% 40px 0;
  display:flex;
  flex-direction: column;
  background-color: #f7f7f7
}

.delete-route {
  background-color: white;
  position:relative;
  left: 186px;
  bottom: 35px;
  width: 60px;

  color: black;
  font-weight: lighter;
  font-size: 12px;

  border: 1px gray solid;
  border-radius: 1px;
  outline: none;

  margin: 5px 10px;
  padding: 7px;
  transition: .7s

}

.delete-route:hover {
  color: black;
  background-color: #d65353;

}

.route-name-index {
  margin: 7px 3px;
  color: #8bb1ed;
  font-size: 17px;
  // margin-bottom: 15px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route-friendly-list {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  font-size: 11px;
  position: relative;
  left: 195px;
  bottom: 10px;
  z-index:5;
}

.created-as-item {
  font-size: 13px;
  background-color: #F0F0F0;
  position: relative;
  top: 2px;}
