<!DOCTYPE html>
<html>
  <head>

    <title>RunAWay</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6-r_EUcFhCN7xCfTh7PcTENVVE-6uxIs&libraries=places,visualization,geometry" charset="utf-8"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        // Load the Visualization API and the columnchart package.
      google.load('visualization', '1', {packages: ['columnchart']});</script>

    <style type="text/css">
      /*setting the width and height of your map element is CRUCIAL*/
      #map {
        width: 100%;
        height: 450px;
        z-index:99998;
      };
     </style>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
