<!DOCTYPE html>
<html>
  <head>

    <title>RunAWay</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6-r_EUcFhCN7xCfTh7PcTENVVE-6uxIs" charset="utf-8"></script>
    <style type="text/css">
      /*setting the width and height of your map element is CRUCIAL*/
      #map {
        width: 90%;
        height: 400px;
        margin-left: 5%;
      };
     </style>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
